<div ng-controller="AppCtrl" class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak="" ng-app="MyApp">
  <p class="inset">
    Open a dialog over the app's content. Press escape or click outside to close the dialog and
    send focus back to the triggering button.
  </p>

  <div class="dialog-demo-content" layout="row" layout-wrap="" layout-margin="" layout-align="center">

    <md-button class="md-primary md-raised" ng-click="showConfirm($event)">
      Confirm Dialog
    </md-button>
  </div>
</div>
